<ion-content [fullscreen]="true" class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content/>
  </ion-refresher>

  <header class="statops__header">
    <div class="statops__header-title">
      <h1>{{ 'homeStatoPS.title' | translate }}</h1>
    </div>

    <div class="statops__header-actionbox">
      <pst-link-button
        routerLink="/info"
        icon="ℹ️"
        text="{{ 'homeStatoPS.button.info' | translate }}"
      />
      <pst-link-button
        routerLink="/homeStatoPS"
        icon="🏥"
        text="{{ 'homeStatoPS.label.ps' | translate }}"
      />
    </div>
  </header>

  <div class="card-aligner">
    @for(ps of psFavorites(); track ps.codOspOd){
      <pst-card-ps [prontoSoccorso]="ps" />
    } @empty {
      <pst-error-card
        [isError]="false"
        title="I tuoi Pronto Soccorso preferiti verranno mostrati qui"
        message="Fai click o tap sulla stellina ⭐ per aggiungere un Pronto Soccorso alla lista dei tuoi Preferiti"/>
    }
  </div>
</ion-content>
