<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>⚕️Pronto Soccorso Trentini</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content/>
  </ion-refresher>

  <div class="card-aligner">

    @defer (on immediate){
      @if (appStateService.isStatusLoading()){
        <pst-cardps-loader/>
        <pst-cardps-loader/>
        <pst-cardps-loader/>
        <pst-cardps-loader/>
      }
    }


    @if(appStateService.isStatusError()){
      <pst-error-card error="{{appStateService.error}}}" [isError]="true" />
    }

    @for(ps of statoPS().prontoSoccorso; track ps.codPsOd){
      <pst-card-ps [prontoSoccorso]="ps" />
    } @empty {
      @if (appStateService.isStatusReady()){
        <pst-error-card error="Non ci sono dati disponibili" [isError]="false" />
      }
    }
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="ion-text-center">
      @if(statoPS().dataAggiornamento){
        <p>Ultimo aggiornamento: {{statoPS().dataAggiornamento}}</p>
      } @else {
        <p>Ultimo aggiornamento: non disponibile</p>
      }
    </div>
  </ion-toolbar>
</ion-footer>

