<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>⚕️Pronto Soccorso Trentini</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  @if (appStateService.isStatusLoading()){
    <!-- TODO: Refactor in loading component -->
    <ion-card>
      <p-skeleton height="9rem" borderRadius="4px"/>
    </ion-card>
    <ion-card>
      <p-skeleton height="9rem" borderRadius="4px"/>
    </ion-card>
    <ion-card>
      <p-skeleton height="9rem" borderRadius="4px"/>
    </ion-card>
  }

  @if(appStateService.isStatusError()){
    <!-- TODO: Refactor in error component -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Pronto Soccorso non disponibile</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Il servizio di Pronto Soccorso non è disponibile al momento. Riprovare più tardi.</p>
      </ion-card-content>
    </ion-card>
  }

  @for(ps of statoPS().prontoSoccorso; track ps.codPsOd){
    <pst-card-ps [prontoSoccorso]="ps" />
  } @empty {
    @if (appStateService.isStatusReady()){
      <div class="ion-text-center">
        <p>Non ci sono dati disponibili</p>
      </div>
    }
  }
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="ion-text-center">
      @if(statoPS().dataAggiornamento){
        <p>Ultimo aggiornamento: {{statoPS().dataAggiornamento}}</p>
      } @else {
        <p>Ultimo aggiornamento: non disponibile</p>
      }
    </div>
  </ion-toolbar>
</ion-footer>

