<ion-content [fullscreen]="true" class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content/>
  </ion-refresher>

  <header class="statops__header">
    <div class="statops__header-title">
      <h1>{{ 'homeStatoPS.title' | translate }}</h1>
    </div>

    <div class="statops__header-actionbox">
      <pst-link-button
        routerLink="/info"
        icon="ℹ️"
        text="{{ 'homeStatoPS.button.info' | translate }}"
      />
      <pst-link-button
        routerLink="/favorites"
        icon="⭐"
        text="{{ 'homeStatoPS.button.favorites' | translate }}"
      />
      <pst-link-button
        icon="🔍"
        text="{{ 'homeStatoPS.button.search' | translate }}"
        (click)="enableSearch()"
      />

      @if(isSearchEnabled()){
        <p-dropdown
          [options]="listaLocalita()"
          [(ngModel)]="ricercaPS"
          [checkmark]="true"
          [showClear]="ricercaPS()"
          (onChange)="search($event)"
          (onClear)="ricercaPS.set('')"
          placeholder="{{ 'homeStatoPS.button.select_loc' | translate }}"
        />
      }
      <p-dropdown
        [options]="i18nService.availLangFlag()"
        [(ngModel)]="selectedLang"
        (onChange)="changeLang($event)"
      />
    </div>
  </header>

  <div class="card-aligner">

    @if (appStateService.isStatusLoading()){
      <pst-cardps-loader/>
      <pst-cardps-loader/>
      <pst-cardps-loader/>
      <pst-cardps-loader/>
    }

    @if(appStateService.isStatusError()){
      <pst-error-card error="{{appStateService.error}}}" [isError]="true" />
    }

    @for(ps of prontoSoccorso(); track ps.codPsOd){
      @defer (on viewport){
        <pst-card-ps [prontoSoccorso]="ps" />
      } @placeholder (minimum 2){
        <pst-cardps-loader/>
      }
    } @empty {
      @if (appStateService.isStatusReady() && !isSearchEnabled()){
        <pst-error-card error="Non ci sono dati disponibili" [isError]="false" />
      }
      @else{
        <pst-error-card
          title="Nessun Pronto Soccorso trovato"
          message="Non è stato trovato nessun Pronto Soccorso per la località selezionata."
          [isError]="false" />
      }
    }
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="ion-text-center ion-padding-bottom">
      @if(dataAggiornamento()){
        <p>{{'homeStatoPS.last_update' | translate}}: {{dataAggiornamento()}}</p>
      } @else {
        <p>{{'homeStatoPS.last_update_not' | translate}}</p>
      }
      © 2024 Rocchio Pietro
    </div>
  </ion-toolbar>
</ion-footer>

