.waitbox-align{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //justify-content: center;
  //align-items: center;
  gap: 1rem;
}

.bg_shade{
  //background: rgb(164,1,68);
  //background: linear-gradient(30deg, rgba(164,1,68,1) 29%, rgba(140,33,75,1) 47%, rgba(255,211,241,1) 95%, rgba(255,194,222,1) 100%, rgba(128,19,61,1) 100%);
}
