<ion-card class="bg_shade">
  <ion-card-header>
    <ion-card-title>
      <p-skeleton width="80px" height="1.5rem"/>
    </ion-card-title>
    <ion-card-subtitle>
      <p-skeleton width="107px" height="1.5rem"/>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>

    <p-skeleton width="45px" height="1rem"/>

    <div class="waitbox-align">
      <p-skeleton width="3rem" height="3rem"/>
      <p-skeleton width="3rem" height="3rem"/>
      <p-skeleton width="3rem" height="3rem"/>
      <p-skeleton width="3rem" height="3rem"/>
      <p-skeleton width="3rem" height="3rem"/>
    </div>
  </ion-card-content>
</ion-card>
