@let ps = prontoSoccorsoComp();

@if(ps){
  <ion-content [fullscreen]="true" class="ion-padding">

    <div class="info-container">
      <div class="info-back">
<!--        <ion-icon name="arrowBack" color="primary"/>-->
        <ion-back-button defaultHref="/homeStatoPS" icon="arrow-back-outline"/>
        @if(favoritesService.isFavorite(ps.codPsOd)){
          <ion-icon name="star" color="warning" size="large" (click)="favUtils.removeFavorite($event, ps)"/>
        }
        @else {
          <ion-icon name="star-outline" color="warning" size="large" (click)="favUtils.addFavorite($event, ps)"/>
        }
      </div>
      <h1 class="info-header">
        {{ ps.codOspOd }}
      </h1>
      <h1 class="info-subheader">{{ ps.unitaOperativa	}}</h1>

      <div class="info-chips">
        <!--    INDIRIZZO e PERCORSO   -->
        <ion-chip color="primary">
          @let loc = ps.ps.replaceAll(' ', '+');
          <ion-icon name="navigate" color="primary"/>
          <ion-label>
            <a href="https://www.google.com/maps/dir//{{loc}}" target="_blank">
              Vai a {{ ps.localita | titlecase}}
            </a>
          </ion-label>
        </ion-chip>

        <!--    SITO    -->
        <ion-chip color="warning" (click)="openTabViaLink($event, ps.dettagli.link)">
          <ion-icon name="globe" color="danger"/>
          <ion-label>
            APSS: {{ ps.ps | extractPS }}
          </ion-label>
        </ion-chip>
      </div>

      <div class="info-content">

        <h2>Attesa</h2>
        <div class="info-waiting-box">
          <pst-waiting-box [waitVal]="ps.attesa.bianco" [color]="'bianco'"/>
          <pst-waiting-box [waitVal]="ps.attesa.verde" [color]="'verde'"/>
          <pst-waiting-box [waitVal]="ps.attesa.azzurro" [color]="'azzurro'"/>
          <pst-waiting-box [waitVal]="ps.attesa.arancio" [color]="'arancio'"/>
          <pst-waiting-box [waitVal]="ps.attesa.rosso" [color]="'rosso'"/>
        </div>

        <h3>Ambulatorio</h3>
        <div class="info-waiting-box">
          <pst-waiting-box [waitVal]="ps.ambulatorio.bianco" [color]="'bianco'"/>
          <pst-waiting-box [waitVal]="ps.ambulatorio.verde" [color]="'verde'"/>
          <pst-waiting-box [waitVal]="ps.ambulatorio.azzurro" [color]="'azzurro'"/>
          <pst-waiting-box [waitVal]="ps.ambulatorio.arancio" [color]="'arancio'"/>
          <pst-waiting-box [waitVal]="ps.ambulatorio.rosso" [color]="'rosso'"/>
        </div>

        <h3>Osservazione</h3>
        <div class="info-waiting-box">
          <pst-waiting-box [waitVal]="ps.osservazione.bianco" [color]="'bianco'"/>
          <pst-waiting-box [waitVal]="ps.osservazione.verde" [color]="'verde'"/>
          <pst-waiting-box [waitVal]="ps.osservazione.azzurro" [color]="'azzurro'"/>
          <pst-waiting-box [waitVal]="ps.osservazione.arancio" [color]="'arancio'"/>
          <pst-waiting-box [waitVal]="ps.osservazione.rosso" [color]="'rosso'"/>
        </div>

        <h3>Attesa media</h3>
        <div class="info-waiting-box">
          <pst-waiting-box [small]="true" [waitVal]="ps.attesaMedia.bianco" [color]="'bianco'"/>
          <pst-waiting-box [small]="true" [waitVal]="ps.attesaMedia.verde" [color]="'verde'"/>
          <pst-waiting-box [small]="true" [waitVal]="ps.attesaMedia.azzurro" [color]="'azzurro'"/>
          <pst-waiting-box [small]="true" [waitVal]="ps.attesaMedia.arancio" [color]="'arancio'"/>
          <pst-waiting-box [small]="true" [waitVal]="ps.attesaMedia.rosso" [color]="'rosso'"/>
        </div>

        <h3>Contatti</h3>
        <div class="info-chips">
          <!--    TELEFONI    -->
          @for(tel of ps.dettagli.contatti.telefono; track tel){
            <ion-chip color="success">
              <ion-icon name="call" color="success"/>
              <ion-label>
                <a href="tel:{{tel}}" target="_blank">
                  {{ tel }}
                </a>
              </ion-label>
            </ion-chip>
          }
          <!--    EMAIL    -->
          @for(mail of ps.dettagli.contatti.email; track mail){
            <ion-chip color="medium">
              <ion-icon name="mail" color="medium"/>
              <ion-label>
                <a href="mailto:{{mail}}" target="_blank">
                  {{ mail }}
                </a>
              </ion-label>
            </ion-chip>
          }

          <!--    PEC    -->
          <ion-chip color="medium">
            <ion-icon name="at" color="medium"/>
            <ion-label>
              <a href="mailto:{{ps.dettagli.contatti.pec}}" target="_blank">
                {{ ps.dettagli.contatti.pec }}
              </a>
            </ion-label>
          </ion-chip>
        </div>

      </div>
    </div>

  </ion-content>
} @else {
  <ion-content [fullscreen]="true" class="ion-padding">
    <h2>Caricamento...</h2>
  </ion-content>
}
