@let ps = prontoSoccorsoComp();

@if(ps){
  <ion-content [fullscreen]="true" class="ion-padding">
    <div class="info-container">
      <h1 class="info-header">{{ ps.codOspOd }}</h1>
      <h1 class="info-subheader">{{ ps.unitaOperativa	}}</h1>
      <div class="info-chips">
        <ion-chip color="primary">
          <ion-icon name="location" color="primary"/>
          <ion-label>{{ ps.localita }}</ion-label>
        </ion-chip>
        <ion-chip color="warning">
          <ion-icon name="medical" color="danger"/>
          <ion-label>{{ ps.ps | extractPS }}</ion-label>
        </ion-chip>
      </div>

      <div class="info-content">

        <h2>Attesa</h2>
        <div class="info-waiting-box">
          <pst-waiting-box [waitVal]="ps.attesa.bianco" [color]="'bianco'"/>
          <pst-waiting-box [waitVal]="ps.attesa.verde" [color]="'verde'"/>
          <pst-waiting-box [waitVal]="ps.attesa.azzurro" [color]="'azzurro'"/>
          <pst-waiting-box [waitVal]="ps.attesa.arancio" [color]="'arancio'"/>
          <pst-waiting-box [waitVal]="ps.attesa.rosso" [color]="'rosso'"/>
        </div>

        <h3>Ambulatorio</h3>
        <div class="info-waiting-box">
          <pst-waiting-box [waitVal]="ps.ambulatorio.bianco" [color]="'bianco'"/>
          <pst-waiting-box [waitVal]="ps.ambulatorio.verde" [color]="'verde'"/>
          <pst-waiting-box [waitVal]="ps.ambulatorio.azzurro" [color]="'azzurro'"/>
          <pst-waiting-box [waitVal]="ps.ambulatorio.arancio" [color]="'arancio'"/>
          <pst-waiting-box [waitVal]="ps.ambulatorio.rosso" [color]="'rosso'"/>
        </div>

        <h3>Osservazione</h3>
        <div class="info-waiting-box">
          <pst-waiting-box [waitVal]="ps.osservazione.bianco" [color]="'bianco'"/>
          <pst-waiting-box [waitVal]="ps.osservazione.verde" [color]="'verde'"/>
          <pst-waiting-box [waitVal]="ps.osservazione.azzurro" [color]="'azzurro'"/>
          <pst-waiting-box [waitVal]="ps.osservazione.arancio" [color]="'arancio'"/>
          <pst-waiting-box [waitVal]="ps.osservazione.rosso" [color]="'rosso'"/>
        </div>

        <h3>Attesa media</h3>
        <div class="info-waiting-box">
          <pst-waiting-box [small]="true" [waitVal]="ps.attesaMedia.bianco" [color]="'bianco'"/>
          <pst-waiting-box [small]="true" [waitVal]="ps.attesaMedia.verde" [color]="'verde'"/>
          <pst-waiting-box [small]="true" [waitVal]="ps.attesaMedia.azzurro" [color]="'azzurro'"/>
          <pst-waiting-box [small]="true" [waitVal]="ps.attesaMedia.arancio" [color]="'arancio'"/>
          <pst-waiting-box [small]="true" [waitVal]="ps.attesaMedia.rosso" [color]="'rosso'"/>
        </div>

        <pst-link-button
          routerLink="/homeStatoPS"
          icon="🏥"
          text="Lista pronto soccorso"
        />
        <br>
        <pst-link-button
          routerLink="/favorites"
          icon="⭐"
          text="Preferiti"
        />

      </div>

    </div>

  </ion-content>
} @else {
  <ion-content [fullscreen]="true" class="ion-padding">
    <h2>Caricamento...</h2>
  </ion-content>
}
