.info-container {
  max-width: 700px;
  padding: 1.25rem;
  margin: 2.5rem auto;
}

.info-back{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.info-header{
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.info-subheader{
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
}

.info-chips{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.info-content{
  margin: 2rem 0;
}

.info-waiting-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //justify-content: center;
  //align-items: center;
  gap: .5rem;
  padding-top: 0.3rem;
}

.info-line{
  width: 100%;
  height: 1px;
  background-color: #ccc; /* Adjust color as needed */
  border: none; /* Remove default border */
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
} /* Make sure links are not underlined and are the correct color */
